/* IMPORTS */
/* Reset Stylesheet */
@import url("reset.css");
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Uncial+Antiqua&display=swap");

/* VARIABLES */
:root {
  --red: #8f0000;
  --green: #005726;
  --brown-dark: #211100;
  --brown: #c7a273;
  --brown-light: #f3d2a1;
  --background: #f4ddbb;
  --evil-flame: #ff6f37;
  --evil-pupil: #120f17;
}

/* GENERAL STYLES */
html {
  overflow-x: hidden;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
}

body {
  background-color: var(--background);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

h1,
.logo {
  font-family: "Uncial Antiqua", "Times New Roman", Times, serif;
}

.navbar button,
.hero button,
button.btn.btn-primary,
.confirmation button {
  background-color: var(--red);
  border: 3px ridge var(--brown-light);
  border-radius: 20px 0 20px 0;
  padding: 0.8em 1em;
  transition: transform 0.3s ease;
  color: var(--brown-light);
}

.navbar button a,
.hero a,
button.btn.btn-primary,
.confirmation button a {
  color: var(--brown-light);
  font-size: 1.5em;
  font-weight: 600;
}

.navbar button:hover,
.hero button:hover,
button.btn.btn-primary:hover,
.confirmation button:hover {
  background-color: var(--green);
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.navbar button:active,
.hero button:active,
button.btn.btn-primary:active,
.confirmation button:active {
  box-shadow: 0 0 0.25em 0.25em #f6cb6d;
}

a {
  text-decoration: none;
}

/* HEADER */
.navbar {
  background-color: var(--brown-dark);
  padding: 1.25em 0;
}

ul {
  margin-bottom: 0;
}

.logo a {
  font-size: 2.25em;
  color: var(--red);
  text-shadow:
    -0.02em -0.02em 0 var(--brown-light),
    0.02em -0.02em 0 var(--brown-light),
    -0.02em 0.02em 0 var(--brown-light),
    0.02em 0.02em 0 var(--brown-light);
}

.navbar button a {
  padding: 2em 1em;
}

/* HOME */
/* Hero Banner */
.hero {
  background-image: url("/mordor_hero.jpg");
  background-color: var(--brown-dark);
  min-height: 82vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h1 {
  font-size: 5.5em;
  color: var(--red);
  text-shadow:
    -0.01em -0.01em 0 var(--brown-light),
    0.01em -0.01em 0 var(--brown-light),
    -0.01em 0.01em 0 var(--brown-light),
    0.01em 0.01em 0 var(--brown-light);
}

.hero div {
  margin-right: 5em;
}

.heroBody {
  width: 92%;
}

.hero p {
  font-size: 2em;
  color: var(--brown-light);
  line-height: 1.25em;
  font-weight: 500;
  padding-top: 0.75em;
}

.hero span {
  font-size: 0.5em;
}

.hero a {
  padding: 2em 1em;
}

/* SIGNUP PAGE */
.signUp {
  margin: 3em;
}

.signUp h1 {
  color: var(--red);
  font-size: 1.75em;
  margin-bottom: 1em;
}

label {
  color: var(--brown-dark);
  font-size: 1.1em;
  font-weight: 600;
}

.feedbackPlaceholder {
  min-height: 4.5em;
}

.form-check .invalid-feedback {
  padding-top: 0.5em;
}

.form-check-input.is-invalid ~ .form-check-label,
.was-validated .form-check-input:invalid ~ .form-check-label {
  color: var(--brown-dark);
}

button.btn.btn-primary {
  font-size: 1.3em;
  padding: 0.5em 1em;
  margin-top: 0.5em;
}

/* CONFIRMATION */
.confirmation {
  margin: 3em;
}

.confirmation h1 {
  color: var(--red);
  font-size: 1.75em;
  margin-bottom: 1em;
}

.confirmation p {
  font-size: 1.15em;
  line-height: 1.25em;
}

.confirmation button {
  font-size: 1.3em;
  font-weight: 600;
  padding: 0.65em 1em;
  margin: 1em 0 1.75em 0;
}

/* CONFIRMATION ERROR */
.error h1 {
  padding-top: 1em;
  font-size: 1.75em;
}

.error p {
  font-size: 1.15;
}

.error button {
  padding: 0.75em 1.25em;
}

/* 404 PAGE */
.notFound {
  background-color: var(--evil-pupil);
}

.notFound p {
  font-size: 1.5em;
  color: var(--brown);
  text-align: center;
  padding: 0.75em;
}

.notFound h1 {
  font-size: 3em;
  color: var(--evil-pupil);
  margin-bottom: 0;
  text-align: center;
  text-shadow:
    0 0 5px #ff9e62,
    0 0 10px #ffd258,
    0 0 20px #ffb32f,
    0 0 30px #ff7b00,
    0 0 40px #ff6200;
  padding: 1em 0 0.75em;
}

.evil-eye-container {
  width: 100%;
  height: 60vh;
}

/* FOOTER */
footer {
  margin-top: auto;
  background-color: var(--brown-dark);
  padding: 1.5em 0;
}

footer p {
  font-size: 1.25em;
  color: var(--brown);
  margin: 0;
  text-align: center;
}

footer img {
  width: 1%;
}
